@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

}

/* body*/

body {

}

/*main {
  margin: 0 auto;
  width: 60%
  border: 1px solid #99cc99;
  clear: both;
  box-sizing: border-box;
  text-align: center;

}

section {
  border: 1px solid #000000;
  display: inline-block;

}*/

.bigbox {


border: #58D3F7 3px solid;

}

.imageDisplay {

  width:100%;


}


.boxSection {
width: 100%; text-align: center;margin:200px 0 0 0;
}


.boxMargin {
width: 25% ;
margin: 10px;
display: inline-block;

}

.iconList {
  display: inline-block;
  border: 3px solid #58D3F7;
  width: 20%;
  margin-right: -4px;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  border-left: none;
  border-top: none;
}

.firstIconBox {
  margin-left: -4px;
  border-left: 3px solid #58d3f7;



}

/*a.fa {
  font-size: 1em;
  color: #58d3f7;
  transition: all 0.3s linear;
}


a.fa:hover {
  color: #999999;
  /*transform: rotate(180deg);*/
  /*font-size: 6em;*/

}

/*nav:hover ul.dropdown {
  height: 3em;
}*/

/*nav ul.dropdown {
  height: 0;
  /*overflow: hidden;
  transition: all 0.5s linear;
  z-index: 1000px
}*/


/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: -200px;
    bottom: -100px;
    z-index: 1;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}*/


.bottomDiv {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px -4px 0 0;
}

.tshirtname {
  width: 70%;
  margin-left: -4px;
  text-align: left;
  font-size: 20px;
  color: #58D3F7;
  font-family: sans-serif;
}

.tshirtprice {
  width: 30%;
  text-align: right;
  font-size: 20px;
  color: #58D3F7;
  font-weight: bold;
  font-family: sans-serif;
}


.listingtool1 {
  width: 25px;
}

.listingtool2 {
  width: 20px;

}

.listingtool3 {
  width: 15px;

}

.listingtool4 {
  width: 10px;
}





}
/*.blue {
  float: right;
  border: 1px solid #cc99cc;
  background-color: blue;
  width: 30%;*/

}

/*.pink {
  float: right;
  border: 1px solid #1144ff;
  background-color: red;
  width: 30%;
}*/

/*.yellow {
  float: right;
  border: 1px solid #33aa22;
  background-color: green;
  width: 30%;*/

}
